<div class="memo" data-magellan-destination="map">
  <a name="map"></a>
  <h1>Мы работаем по всему Киеву</h1>
  <hr>
  <div class="quote2">
    <h4> Выезд мастера по Киеву бесплатный – мы не заставим Вас тратить драгоценное время на дорогу и ожидание в очереди (в среднем от 3 часов до 3 дней в обычных стационарных ремонтах).</h4>
  </div>
  <div id="map-container">
    <div id="map-canvas"></div>
  </div>
</div>