<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="row">
    <div class="small-12 large-12 columns">
      <div id="main"></div>
    </div>
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a> 
</div>