<div class="memo" data-magellan-destination="how_we_work">
  <a name="how_we_work"></a>
  <section id="main-content">
    <div class="row centered-text">
      <div class="large-12 columns">
        <div class="quote">
          <h1>Как работает команда RefitMe?</h1>
          <h4 class="subheader">Есть только один способ проделать большую работу — полюбить ее. - Steve Jobs</h4>
        </div>
      </div>
    </div>
    <div class="row centered-text">
      <div class="medium-3 large-3 columns supporticons">
        <%= image_tag('https://s3-us-west-2.amazonaws.com/myrefitme/friends/avatars/000/000/016/medium/1.png', alt: "Набирайте наш номер")%>
        <h3>Набирайте наш номер</h3>
      </div>
      <div class="medium-3 large-3 columns supporticons">
        <%= image_tag('https://s3-us-west-2.amazonaws.com/myrefitme/friends/avatars/000/000/017/medium/2.png', alt: "Согласуйте удобное время")%>
        <h3>Согласуйте удобное время</h3>
      </div>
      <div class="medium-3 large-3 columns supporticons">
        <%= image_tag('https://s3-us-west-2.amazonaws.com/myrefitme/friends/avatars/000/000/018/medium/3.png', alt: "Согласуйте удобное место")%>
        <h3>Согласуйте удобное место</h3>
      </div>
      <div class="medium-3 large-3 columns supporticons">
        <%= image_tag('https://s3-us-west-2.amazonaws.com/myrefitme/friends/avatars/000/000/019/medium/4.png', alt: "Мы вернем жизнь вашему девайсу")%>
        <h3>Мы вернем <i class="fa fa-heartbeat"></i> вашему девайсу</h3>
      </div>
    </div>
  </section>
</div>   