<div class="col-md-8">
    <div class="card">
        <div class="header">
            <h4 class="title">Изменить Тип</h4>
        </div>
        <div class="content">
          <%= render 'form' %>
        </div>
    </div>
</div>
