<div class="col-md-12">
  <div class="card">
    <div class="header">
      <h4 class="title">Новый пост</h4>
    </div>
    <div class="content">
      <%= render 'form' %>
    </div>
  </div>
</div>