@import 'foundation_and_overrides';
@import 'btns';
@import 'session';
@import 'loading-screen';
@import 'home';
@import 'posts';
@import 'postshow';

body {
  font-family: 'Open Sans Condensed', sans-serif;
}
.name {
  h2 {
  color: #ffffff;
  }
}
.sub-nav dd a, .sub-nav li a {
  color: #4F4E4E;
}

.bird-box {
  position: relative;
  height: 500px;
  background-image: image-url('main.jpg');
  background-size: auto;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
  z-index: 3;
}


.logo {
  height: 150px;
  width: 100%;
  background-image: image-url('refitmi_podsvetka_logo.png');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

.fore-bird {
  width: 960px;
  height: 733px;
  background-image: image-url('qwe.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 380px;
}

.back-bird {
  width: 960px;
    height: 298px;

    background-image: image-url('qwe.png');
    background-repeat: no-repeat;
    background-position: top left;

    position: absolute;
    left: 50%;
    margin-left: -480px;
}

.content {
  position: relative;
  overflow: hidden;
  background: #f9f9f9;
  margin-bottom: 250px;

  article
    { 
        padding: 50px 0;
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
      .memo {
        padding-top: 30px;
      }
      .memo2 {
        padding-top: 30px;
      }
    }
}


.clothes-pics {
  margin-bottom: 50px;
  p {
    display: block;
  }
  li {
    position: relative;
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    &.is-showing {
      opacity: 1;
      transform: translateX(0px);
    } 
   img {
      display: block;
      transform: scale(1);
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      .figcaption {
        left: 0%;
      }
      img {
        transform: scale(1.1);
      }
    }
  }

    .figcaption {
      position: absolute;
      bottom: 10px;
      left: -100%;
      background: black;
      color: white;
      padding: 2px 8px;
      font-size: 11px;
      transition: all 0.3s ease-in-out;
    }
}

#map-container {  height: 400px; border-radius: 16px 16px; border-color: #fff; border-style: solid; box-shadow: 2px 2px 10px #B1B1B1; border-width: 7px; }

#map-canvas {
  height: 384px;
  width: 100%;
}


footer {
  background: black;
  color: white;
  padding: 40px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
  .footer-stuff {
    
    margin: 0 auto;
  }
  a {
    color: white;
  }
  input {
    color: #666666;
  }
}


.quote {
  h3 {
  font-family: 'Kurale', serif;
  }
  h4 {
    font-family: 'Marck Script', cursive;
  }
}
.quote2 {
    h3 {
  font-family: 'Kurale', serif;
  }
  h4 {
     font-family: 'Open Sans Condensed', sans-serif;
  }
}

.malaimes {
  h6 {
    color: #ffffff;
    font-family: 'Marck Script', cursive;
  } 
}
table {
  
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

}



.wrapper {
  width: 80%;
  margin: 0 auto;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}